[Unit]
Description=power

[Service]
WorkingDirectory=/home/pi/homepower/build
ExecStart=/home/pi/homepower/build/server/server

[Install]
WantedBy=multi-user.target
